https://github.com/databricks/LearningSparkV2


https://github.com/RodrigoLima82/spark-certification

reference repos

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = (
    SparkSession.builder
    .appName("spark-notations")
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport()      
    .getOrCreate()
)

In [2]:
from pyspark import SparkContext
#sc= SparkContext()
sc = SparkContext.getOrCreate();

## Using Spark SQL in Spark Applications

In [3]:
# Path to data set
csv_file = "C:/Lenzi/Spark/spark developer preparation/data/flights/departuredelays.csv"
# Read and create a temporary view
# Infer schema (note that for larger files you
# may want to specify the schema)
df = (spark.read.format("csv")
.option("inferSchema", "true")
.option("header", "true")
.load(csv_file))
df.createOrReplaceTempView("us_delay_flights_tbl")

In [4]:
# In Python
schema = "`date` STRING, `delay` INT, `distance` INT,`origin` STRING, `destination` STRING"

In [5]:
# Path to data set
csv_file = "C:/Lenzi/Spark/spark developer preparation/data/flights/departuredelays.csv"
# Read and create a temporary view
# defining schema option
df = (spark.read.format("csv")
.option("Schema", "schema")
.option("header", "true")
.load(csv_file))
df.createOrReplaceTempView("us_delay_flights_tbl")

In [6]:
spark.sql('''select * from us_delay_flights_tbl limit 10''').show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
+--------+-----+--------+------+-----------+

In [7]:
spark.sql("""SELECT date, delay, origin, destination
FROM us_delay_flights_tbl
WHERE delay > 120 AND ORIGIN = 'SFO' AND DESTINATION = 'ORD'
ORDER by delay DESC""").show(10)

+--------+-----+------+-----------+
|    date|delay|origin|destination|
+--------+-----+------+-----------+
|01031755|  396|   SFO|        ORD|
|01022330|  326|   SFO|        ORD|
|01051205|  320|   SFO|        ORD|
|01190925|  297|   SFO|        ORD|
|02171115|  296|   SFO|        ORD|
|01071040|  279|   SFO|        ORD|
|01051550|  274|   SFO|        ORD|
|03120730|  266|   SFO|        ORD|
|01261104|  258|   SFO|        ORD|
|01161210|  225|   SFO|        ORD|
+--------+-----+------+-----------+
only showing top 10 rows

In [8]:
#voo mais longo
spark.sql("""SELECT distance, origin, destination 
FROM us_delay_flights_tbl WHERE distance > 1000
ORDER BY distance DESC""").show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [9]:
# In Python
from pyspark.sql.functions import col, desc
(df.select("distance", "origin", "destination")
.where(col("distance") > 1000)
.orderBy(desc("distance"))).show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [10]:
spark.sql("""SELECT date, delay, origin, destination
FROM us_delay_flights_tbl
WHERE delay > 120 AND ORIGIN = 'SFO' AND DESTINATION = 'ORD'
ORDER by delay DESC""").show(10)

+--------+-----+------+-----------+
|    date|delay|origin|destination|
+--------+-----+------+-----------+
|01031755|  396|   SFO|        ORD|
|01022330|  326|   SFO|        ORD|
|01051205|  320|   SFO|        ORD|
|01190925|  297|   SFO|        ORD|
|02171115|  296|   SFO|        ORD|
|01071040|  279|   SFO|        ORD|
|01051550|  274|   SFO|        ORD|
|03120730|  266|   SFO|        ORD|
|01261104|  258|   SFO|        ORD|
|01161210|  225|   SFO|        ORD|
+--------+-----+------+-----------+
only showing top 10 rows

In [11]:
from pyspark.sql.functions import col, desc
(df.select("date","delay", "origin", "destination")
.where("delay > 120 and origin == 'SFO' and destination == 'ORD'")
.orderBy(desc("delay"))).show(10)

+--------+-----+------+-----------+
|    date|delay|origin|destination|
+--------+-----+------+-----------+
|01031755|  396|   SFO|        ORD|
|01022330|  326|   SFO|        ORD|
|01051205|  320|   SFO|        ORD|
|01190925|  297|   SFO|        ORD|
|02171115|  296|   SFO|        ORD|
|01071040|  279|   SFO|        ORD|
|01051550|  274|   SFO|        ORD|
|03120730|  266|   SFO|        ORD|
|01261104|  258|   SFO|        ORD|
|01161210|  225|   SFO|        ORD|
+--------+-----+------+-----------+
only showing top 10 rows

In [12]:
    spark.sql("""SELECT delay, origin, destination,
    CASE
    WHEN delay > 360 THEN 'Very Long Delays'
    WHEN delay > 120 AND delay < 360 THEN 'Long Delays'
    WHEN delay > 60 AND delay < 120 THEN 'Short Delays'
    WHEN delay > 0 and delay < 60 THEN 'Tolerable Delays'
    WHEN delay = 0 THEN 'No Delays'
    ELSE 'Early'
    END AS Flight_Delays
    FROM us_delay_flights_tbl
    ORDER BY origin, delay DESC""").show(20)

+-----+------+-----------+----------------+
|delay|origin|destination|   Flight_Delays|
+-----+------+-----------+----------------+
|   92|   ABE|        ORD|    Short Delays|
|   91|   ABE|        DTW|    Short Delays|
|    9|   ABE|        ORD|Tolerable Delays|
|    9|   ABE|        ATL|Tolerable Delays|
|    9|   ABE|        ATL|Tolerable Delays|
|    9|   ABE|        ATL|Tolerable Delays|
|    9|   ABE|        ATL|Tolerable Delays|
|    9|   ABE|        ATL|Tolerable Delays|
|   89|   ABE|        DTW|    Short Delays|
|   88|   ABE|        ATL|    Short Delays|
|   86|   ABE|        DTW|    Short Delays|
|   83|   ABE|        ORD|    Short Delays|
|   80|   ABE|        DTW|    Short Delays|
|    8|   ABE|        ATL|Tolerable Delays|
|    8|   ABE|        DTW|Tolerable Delays|
|    8|   ABE|        ATL|Tolerable Delays|
|    8|   ABE|        DTW|Tolerable Delays|
|   76|   ABE|        ATL|    Short Delays|
|    7|   ABE|        ATL|Tolerable Delays|
|    7|   ABE|        DTW|Tolerable Delays|
+-----+------+-----------+----------------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import when
df2 = df.withColumn("Flight_Delays", when((col("delay") > 360), "Very Long Delays")
                                 .when((col("delay") > 120) & (col("delay") < 360), "Long Delays")
                                 .when((col("delay") > 60 ) & (col("delay") < 120), "Short Delays")
                                 .when((col("delay") > 0) & (col("delay") < 60), "Tolerable Delays")
                                 .when((col("delay") == 0), "No Delays")
                                 .otherwise(lit('Early')))
df2.show(50)

+--------+-----+--------+------+-----------+----------------+
|    date|delay|distance|origin|destination|   Flight_Delays|
+--------+-----+--------+------+-----------+----------------+
|01011245|    6|     602|   ABE|        ATL|Tolerable Delays|
|01020600|   -8|     369|   ABE|        DTW|           Early|
|01021245|   -2|     602|   ABE|        ATL|           Early|
|01020605|   -4|     602|   ABE|        ATL|           Early|
|01031245|   -4|     602|   ABE|        ATL|           Early|
|01030605|    0|     602|   ABE|        ATL|       No Delays|
|01041243|   10|     602|   ABE|        ATL|Tolerable Delays|
|01040605|   28|     602|   ABE|        ATL|Tolerable Delays|
|01051245|   88|     602|   ABE|        ATL|    Short Delays|
|01050605|    9|     602|   ABE|        ATL|Tolerable Delays|
|01061215|   -6|     602|   ABE|        ATL|           Early|
|01061725|   69|     602|   ABE|        ATL|    Short Delays|
|01061230|    0|     369|   ABE|        DTW|       No Delays|
|01060625|   -3|     602|   ABE|        ATL|           Early|
|01070600|    0|     369|   ABE|        DTW|       No Delays|
|01071725|    0|     602|   ABE|        ATL|       No Delays|
|01071230|    0|     369|   ABE|        DTW|       No Delays|
|01070625|    0|     602|   ABE|        ATL|       No Delays|
|01071219|    0|     569|   ABE|        ORD|       No Delays|
|01080600|    0|     369|   ABE|        DTW|       No Delays|
|01081230|   33|     369|   ABE|        DTW|Tolerable Delays|
|01080625|    1|     602|   ABE|        ATL|Tolerable Delays|
|01080607|    5|     569|   ABE|        ORD|Tolerable Delays|
|01081219|   54|     569|   ABE|        ORD|Tolerable Delays|
|01091215|   43|     602|   ABE|        ATL|Tolerable Delays|
|01090600|  151|     369|   ABE|        DTW|     Long Delays|
|01091725|    0|     602|   ABE|        ATL|       No Delays|
|01091230|   -4|     369|   ABE|        DTW|           Early|
|01090625|    8|     602|   ABE|        ATL|Tolerable Delays|
|01091219|   83|     569|   ABE|        ORD|    Short Delays|
|01101215|   -5|     602|   ABE|        ATL|           Early|
|01100600|   -5|     369|   ABE|        DTW|           Early|
|01101725|    7|     602|   ABE|        ATL|Tolerable Delays|
|01101230|   -8|     369|   ABE|        DTW|           Early|
|01100625|   52|     602|   ABE|        ATL|Tolerable Delays|
|01101219|    0|     569|   ABE|        ORD|       No Delays|
|01111215|  127|     602|   ABE|        ATL|     Long Delays|
|01110600|   -9|     369|   ABE|        DTW|           Early|
|01110625|   -4|     602|   ABE|        ATL|           Early|
|01121215|   -5|     602|   ABE|        ATL|           Early|
|01121725|   -1|     602|   ABE|        ATL|           Early|
|01131215|   14|     602|   ABE|        ATL|Tolerable Delays|
|01130600|   -7|     369|   ABE|        DTW|           Early|
|01131725|   -6|     602|   ABE|        ATL|           Early|
|01131230|  -13|     369|   ABE|        DTW|           Early|
|01130625|   29|     602|   ABE|        ATL|Tolerable Delays|
|01131219|   -8|     569|   ABE|        ORD|           Early|
|01140600|   -9|     369|   ABE|        DTW|           Early|
|01141725|   -9|     602|   ABE|        ATL|           Early|
|01141230|   -8|     369|   ABE|        DTW|           Early|
+--------+-----+--------+------+-----------+----------------+
only showing top 50 rows

In [14]:
# In Scala/Python
spark.sql("DROP DATABASE learn_spark_db CASCADE")
spark.sql("CREATE  DATABASE learn_spark_db")
spark.sql("USE learn_spark_db")

AnalysisException: Namespace 'learn_spark_db' not found

In [ ]:
spark.sql("CREATE TABLE learn_spark_db.managed_us_delay_flights_tbl2 (date STRING, delay INT,distance INT, origin STRING, destination STRING)")

AnalysisException: Hive support is required to CREATE Hive TABLE (AS SELECT);
'CreateTable `learn_spark_db`.`managed_us_delay_flights_tbl2`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, ErrorIfExists

In [ ]:
# In Python
# Path to our US flight delays CSV file
#csv_file = "same as before"
# Schema as defined in the preceding example
schema="date STRING, delay INT, distance INT, origin STRING, destination STRING"
flights_df = spark.read.csv(csv_file, schema=schema)
flights_df.write.saveAsTable("managed_us_delay_flights_tbl")

In [ ]:
spark.sql("""CREATE TABLE us_delay_flights_tbl(date STRING, delay INT,
distance INT, origin STRING, destination STRING)
USING csv OPTIONS (PATH
'C:/Lenzi/Spark/spark developer preparation/data/flights/departuredelays.csv')""")

DataFrame[]

In [ ]:
spark.sql('''
CREATE OR REPLACE GLOBAL TEMP VIEW us_origin_airport_SFO_global_tmp_view AS
SELECT date, delay, origin, destination from us_delay_flights_tbl WHERE
origin = 'SFO' 
''')

DataFrame[]

In [ ]:
spark.sql('''
CREATE OR REPLACE TEMP VIEW us_origin_airport_JFK_tmp_view AS
SELECT date, delay, origin, destination from us_delay_flights_tbl WHERE
origin = 'JFK'
''')

DataFrame[]


Creating Views

In [ ]:
# In Python
df_sfo = spark.sql("SELECT date, delay, origin, destination FROM us_delay_flights_tbl WHERE origin = 'SFO'")
df_jfk = spark.sql("SELECT date, delay, origin, destination FROM us_delay_flights_tbl WHERE origin = 'JFK'")
# Create a temporary and global temporary view
df_sfo.createOrReplaceGlobalTempView("us_origin_airport_SFO_global_tmp_view")
df_jfk.createOrReplaceTempView("us_origin_airport_JFK_tmp_view")

In [ ]:
spark.sql('''
SELECT * FROM global_temp.us_origin_airport_SFO_global_tmp_view
''').show()

+--------+-----+------+-----------+
|    date|delay|origin|destination|
+--------+-----+------+-----------+
|01011250|   55|   SFO|        JFK|
|01012230|    0|   SFO|        JFK|
|01010705|   -7|   SFO|        JFK|
|01010620|   -3|   SFO|        MIA|
|01010915|   -3|   SFO|        LAX|
|01011005|   -8|   SFO|        DFW|
|01011800|    0|   SFO|        ORD|
|01011740|   -7|   SFO|        LAX|
|01012015|   -7|   SFO|        LAX|
|01012110|   -1|   SFO|        MIA|
|01011610|  134|   SFO|        DFW|
|01011240|   -6|   SFO|        MIA|
|01010755|   -3|   SFO|        DFW|
|01010020|    0|   SFO|        DFW|
|01010705|   -6|   SFO|        LAX|
|01010925|   -3|   SFO|        ORD|
|01010555|   -6|   SFO|        ORD|
|01011105|   -8|   SFO|        DFW|
|01012330|   32|   SFO|        ORD|
|01011330|    3|   SFO|        DFW|
+--------+-----+------+-----------+
only showing top 20 rows

In [ ]:
spark.sql('''
SELECT * FROM us_origin_airport_JFK_tmp_view
''')

In [ ]:
# In Scala/Python
spark.read.table("us_origin_airport_JFK_tmp_view").show(10)

+--------+-----+------+-----------+
|    date|delay|origin|destination|
+--------+-----+------+-----------+
|01010900|   14|   JFK|        LAX|
|01011200|   -3|   JFK|        LAX|
|01011900|    2|   JFK|        LAX|
|01011700|   11|   JFK|        LAS|
|01010800|   -1|   JFK|        SFO|
|01011540|   -4|   JFK|        DFW|
|01011705|    5|   JFK|        SAN|
|01011530|   -3|   JFK|        SFO|
|01011630|   -3|   JFK|        SJU|
|01011345|    2|   JFK|        LAX|
+--------+-----+------+-----------+
only showing top 10 rows

In [ ]:
# Or
spark.sql('''SELECT * FROM us_origin_airport_JFK_tmp_view''').show(10)

+--------+-----+------+-----------+
|    date|delay|origin|destination|
+--------+-----+------+-----------+
|01010900|   14|   JFK|        LAX|
|01011200|   -3|   JFK|        LAX|
|01011900|    2|   JFK|        LAX|
|01011700|   11|   JFK|        LAS|
|01010800|   -1|   JFK|        SFO|
|01011540|   -4|   JFK|        DFW|
|01011705|    5|   JFK|        SAN|
|01011530|   -3|   JFK|        SFO|
|01011630|   -3|   JFK|        SJU|
|01011345|    2|   JFK|        LAX|
+--------+-----+------+-----------+
only showing top 10 rows

In [ ]:
spark.sql('''DROP VIEW IF EXISTS us_origin_airport_SFO_global_tmp_view''')
spark.sql('''DROP VIEW IF EXISTS us_origin_airport_JFK_tmp_view''')

DataFrame[]

In [ ]:
# In Scala/Python
spark.catalog.dropGlobalTempView("us_origin_airport_SFO_global_tmp_view")
spark.catalog.dropTempView("us_origin_airport_JFK_tmp_view")

False

Viewing the Metadata

In [ ]:
# In Scala/Python
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/C:/Lenzi/Spark/spark%20developer%20preparation/notebooks/spark-warehouse'),
 Database(name='learn_spark_db', description='', locationUri='file:/C:/Lenzi/Spark/spark%20developer%20preparation/notebooks/spark-warehouse/learn_spark_db.db')]

In [ ]:
# In Scala/Python
spark.catalog.listTables()

[Table(name='managed_us_delay_flights_tbl', database='learn_spark_db', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='us_delay_flights_tbl', database='learn_spark_db', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='us_delay_flights_tbl', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
# In Scala/Python
spark.catalog.listColumns("us_delay_flights_tbl")

[Column(name='date', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='delay', description=None, dataType='int', nullable=True, isPartition=False, isBucket=False),
 Column(name='distance', description=None, dataType='int', nullable=True, isPartition=False, isBucket=False),
 Column(name='origin', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='destination', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False)]

Cache

-- In SQL


CACHE [LAZY] TABLE <table-name>
UNCACHE TABLE <table-name>

Reading Tables into DataFrames

In [15]:
# In Python
us_flights_df = spark.sql("SELECT * FROM us_delay_flights_tbl")
us_flights_df2 = spark.table("us_delay_flights_tbl")

## Data Sources for DataFrames and SQL Tables

DataFrameReader

In [26]:
file_parquet = """C:/Lenzi/Spark/spark developer preparation/data/flights/parquet/"""
df = spark.sql('''select * from us_delay_flights_tbl''')
df.write.parquet(file_parquet)
df.write.json("""C:/Lenzi/Spark/spark developer preparation/data/flights/json/""")

In [33]:
#In Python
# Use Parquet

df = spark.read.format("parquet").load(file_parquet)

# Use Parquet; you can omit format("parquet") if you wish as it's the default
df2 = spark.read.load(file_parquet)

# Use CSV
csv_file = "C:/Lenzi/Spark/spark developer preparation/data/flights/departuredelays.csv"
df3= (spark.read.format("csv"))
      
# Use JSON
df4 = spark.read.format("json").load("""C:/Lenzi/Spark/spark developer preparation/data/flights/json/*""")

DataFrameWriter

In [40]:
# In Python
# Use JSON
location = ("""C:/Lenzi/Spark/spark developer preparation/data/flights/json/""")
df.coalesce(1).write.format("json").mode("overwrite").save(location)

## Parquet

Reading Parquet files into a DataFrame

In [41]:
#In Python
file = """C:/Lenzi/Spark/spark developer preparation/data/nyc-taxi/yellow_tripdata_2022-01.parquet"""
dfnyctaxi = spark.read.format("parquet").load(file)

In [45]:
def displayFunc(df, rows):
    df = df.pandas_api()
    return df.head(rows)

In [47]:
displayFunc(dfnyctaxi,5)

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0         1  2022-01-01 01:35:40   2022-01-01 01:53:29              2.0           3.80         1.0                  N           142           236             1         14.5    3.0      0.5        3.65           0.0                    0.3         21.95                   2.5          0.0
1         1  2022-01-01 01:33:43   2022-01-01 01:42:07              1.0           2.10         1.0                  N           236            42             1          8.0    0.5      0.5        4.00           0.0                    0.3         13.30                   0.0          0.0
2         2  2022-01-01 01:53:21   2022-01-01 02:02:19              1.0           0.97         1.0                  N           166           166             1          7.5    0.5      0.5        1.76           0.0                    0.3         10.56                   0.0          0.0
3         2  2022-01-01 01:25:21   2022-01-01 01:35:23              1.0           1.09         1.0                  N           114            68             2          8.0    0.5      0.5        0.00           0.0                    0.3         11.80                   2.5          0.0
4         2  2022-01-01 01:36:48   2022-01-01 02:14:20              1.0           4.30         1.0                  N            68           163             1         23.5    0.5      0.5        3.00           0.0                    0.3         30.30                   2.5          0.0

Reading Parquet files into a Spark SQL table

In [57]:
spark.sql('''
CREATE OR REPLACE TEMPORARY VIEW nyc_taxi
USING parquet
OPTIONS (path "C:/Lenzi/Spark/spark developer preparation/data/nyc-taxi/") 
''')

DataFrame[]

In [59]:
#In Python
displayFunc(spark.sql("SELECT * FROM nyc_taxi"),5)

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0         1  2022-01-01 01:35:40   2022-01-01 01:53:29              2.0           3.80         1.0                  N           142           236             1         14.5    3.0      0.5        3.65           0.0                    0.3         21.95                   2.5          0.0
1         1  2022-01-01 01:33:43   2022-01-01 01:42:07              1.0           2.10         1.0                  N           236            42             1          8.0    0.5      0.5        4.00           0.0                    0.3         13.30                   0.0          0.0
2         2  2022-01-01 01:53:21   2022-01-01 02:02:19              1.0           0.97         1.0                  N           166           166             1          7.5    0.5      0.5        1.76           0.0                    0.3         10.56                   0.0          0.0
3         2  2022-01-01 01:25:21   2022-01-01 01:35:23              1.0           1.09         1.0                  N           114            68             2          8.0    0.5      0.5        0.00           0.0                    0.3         11.80                   2.5          0.0
4         2  2022-01-01 01:36:48   2022-01-01 02:14:20              1.0           4.30         1.0                  N            68           163             1         23.5    0.5      0.5        3.00           0.0                    0.3         30.30                   2.5          0.0

## JSON

Reading a JSON file into a DataFrame

In [68]:
# In Python
file = "C:/Lenzi/Spark/spark developer preparation/data/blogs.json"
dfjson = spark.read.format("json").load(file)

Reading a JSON file into a Spark SQL table

In [67]:
spark.sql('''
CREATE OR REPLACE TEMPORARY VIEW json_blog
USING json
OPTIONS (
path "C:/Lenzi/Spark/spark developer preparation/data/blogs.json"
)
''')

DataFrame[]

Writing DataFrames to JSON files

In [70]:
# In Python
(dfjson.write.format("json")
.mode("overwrite")
.save("C:/Lenzi/Spark/spark developer preparation/data/blogs2.json"))

## CSV

Reading a CSV file into a DataFrame

In [72]:
file = '''C:/Lenzi/Datasets/dados/estabelecimentos/estabelecimentos/'''
dfcsv = spark.read.format("csv").load(file)
dfcsv.count()

20996747

Reading a CSV file into a Spark SQL table

In [73]:
spark.sql('''
CREATE OR REPLACE TEMPORARY VIEW csv_estab
USING json
OPTIONS (
path "C:/Lenzi/Datasets/dados/estabelecimentos/estabelecimentos/"
)
''')

DataFrame[]

Writing DataFrames to CSV files

In [ ]:
# In Python
(dfcsv.write.format("json")
.mode("overwrite")
.save("C:/Lenzi/Datasets/dados/estabelecimentos/estabelecimentos2/"))

## Avro

Reading an Avro file into a DataFrame

Reading an Avro file into a Spark SQL table

Writing DataFrames to Avro files

## ORC

Reading an ORC file into a DataFrame

In [81]:
file = '''C:/Lenzi/Datasets/dados/estabelecimentos/ORC/'''
dforc = spark.read.format("orc").load(file)
dforc.count()

20996747

Reading an ORC file into a Spark SQL table

In [82]:
spark.sql('''
CREATE OR REPLACE TEMPORARY VIEW orc_estab
USING orc
OPTIONS (
path "C:/Lenzi/Datasets/dados/estabelecimentos/ORC/"
)
''')

DataFrame[]

Writing DataFrames to ORC files

In [79]:
# In Python
(dfcsv.write
.format("ORC")
.mode("overwrite")
.save("C:/Lenzi/Datasets/dados/estabelecimentos/ORC/"))

## Images

Reading an image file into a DataFrame

In [88]:
# In Python
from pyspark.ml import image
image_dir = "C:/Users/Lenzi/Desktop/GCM/penha.jpg"
images_df = spark.read.format("image").load(image_dir)
images_df.printSchema()

root
 |-- image: struct (nullable = true)
 |    |-- origin: string (nullable = true)
 |    |-- height: integer (nullable = true)
 |    |-- width: integer (nullable = true)
 |    |-- nChannels: integer (nullable = true)
 |    |-- mode: integer (nullable = true)
 |    |-- data: binary (nullable = true)

In [89]:
images_df.select("image.height", "image.width", "image.nChannels", "image.mode").show(5, truncate=False)

+------+-----+---------+----+
|height|width|nChannels|mode|
+------+-----+---------+----+
|896   |1200 |3        |16  |
+------+-----+---------+----+

## Binary Files

Reading a binary file into a DataFrame

In [90]:
# In Python
path = "C:/Users/Lenzi/Desktop/GCM/*"
binary_files_df = (spark.read.format("binaryFile")
.option("pathGlobFilter", "*.jpg")
.load(path))
binary_files_df.show(5)

+--------------------+--------------------+------+--------------------+
|                path|    modificationTime|length|             content|
+--------------------+--------------------+------+--------------------+
|file:/C:/Users/Le...|2023-01-26 14:00:...|194732|[FF D8 FF DB 00 4...|
|file:/C:/Users/Le...|2023-01-26 13:57:...| 13790|[FF D8 FF E0 00 1...|
|file:/C:/Users/Le...|2023-01-26 13:56:...| 12554|[FF D8 FF E0 00 1...|
|file:/C:/Users/Le...|2023-01-26 14:04:...| 10856|[FF D8 FF E0 00 1...|
|file:/C:/Users/Le...|2023-01-26 13:53:...|  9196|[FF D8 FF E0 00 1...|
+--------------------+--------------------+------+--------------------+
only showing top 5 rows